
<div class="row productListing">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#"><img height="100" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/0x1920/70/0.jpeg" alt="Lenovo Vibe K5"></a>
      <div class="caption">
        <h3><a href="#">Lenovo Vibe K5</a></h3>
        <p>Rs. 10,000</p>
        <p>Screen Size: 5.5 inch</p>
        <p><a href="#" class="btn btn-primary" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#"><img height="100" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/0x1920/70/0.jpeg" alt="Lenovo Vibe K5"></a>
      <div class="caption">
        <h3><a href="#">Lenovo Vibe K5</a></h3>
        <p>Rs. 10,000</p>
        <p>Screen Size: 5.5 inch</p>
        <p><a href="#" class="btn btn-primary" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#"><img height="100" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/0x1920/70/0.jpeg" alt="Lenovo Vibe K5"></a>
      <div class="caption">
        <h3><a href="#">Lenovo Vibe K5</a></h3>
        <p>Rs. 10,000</p>
        <p>Screen Size: 5.5 inch</p>
        <p><a href="#" class="btn btn-primary" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#"><img height="100" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/0x1920/70/0.jpeg" alt="Lenovo Vibe K5"></a>
      <div class="caption">
        <h3><a href="#">Lenovo Vibe K5</a></h3>
        <p>Rs. 10,000</p>
        <p>Screen Size: 5.5 inch</p>
        <p><a href="#" class="btn btn-primary" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#"><img height="100" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/0x1920/70/0.jpeg" alt="Lenovo Vibe K5"></a>
      <div class="caption">
        <h3><a href="#">Lenovo Vibe K5</a></h3>
        <p>Rs. 10,000</p>
        <p>Screen Size: 5.5 inch</p>
        <p><a href="#" class="btn btn-primary" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#"><img height="100" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/0x1920/70/0.jpeg" alt="Lenovo Vibe K5"></a>
      <div class="caption">
        <h3><a href="#">Lenovo Vibe K5</a></h3>
        <p>Rs. 10,000</p>
        <p>Screen Size: 5.5 inch</p>
        <p><a href="#" class="btn btn-primary" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> </p>
      </div>
    </div>
  </div>

</div>

