.productListing {
	h3 {
		a{
			color: #265861;
			text-decoration: none;
			&:hover{
				color: #000;
			}
		}
	}
	img{
		height: 150px;
	}
	.disApplied{
		text-transform: uppercase;
		color: green;
		font-weight: bold;
		border: solid 1px red;
		padding: 5px 10px;
		margin-left: 15px;
	}
	
}