<app-cart [reviews] = "30000" ></app-cart>
<div class="sorting" style="margin: 20px 0;">
  <div>
    <select (change)="onChange($event.target.value)">
      <option value="1">-- Select any --</option>
      <option value="name">By Name</option>
      <option value="proPrice">By Price</option>
    </select>
    
    <form id="filter">
        <label> Filter by Name</label> 
        <input type="text" name="serachtext" [(ngModel)]="term" />
    </form> 
    
  </div>
</div>

    

<div class="row productListing">
  
  <div class="col-sm-6 col-md-4" *ngFor="let proList of proListing | filter:term; let i = index">
    <div class="thumbnail">
      <a href="#"><img height="100" src="{{proList.proImg}}" alt="Lenovo Vibe K5"></a>
      <div class="caption">
        <h3><a href="#">{{proList.name | uppercase}}</a></h3>
        <p>Rs. {{ proList.price }}  
          <span class="disApplied" *ngIf="proList.discount"> 
            <!-- Discount {{proList.discount.d2}} % -->
            Discount 
            <em *ngIf="proList.price >= 18000; else falsyTemplate">
              {{proList.discount.d2}}
            </em>
            <ng-template #falsyTemplate>
              <em>{{proList.discount.d1}}</em>
            </ng-template>
            %

          </span>
        </p>
        <p>Screen Size: {{proList.screenSize}} inch</p>
        <p><a href="#" class="btn btn-primary" id="{{i}}" role="button" (click) = "addCart($event)" >Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> </p>
      </div>
    </div>
  </div>
  <!--
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#"><img height="100" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/0x1920/70/0.jpeg" alt="Lenovo Vibe K5"></a>
      <div class="caption">
        <h3><a href="#">Lenovo Vibe K5</a></h3>
        <p>Rs. 10,000</p>
        <p>Screen Size: 5.5 inch</p>
        <p><a href="#" class="btn btn-primary" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#"><img height="100" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/0x1920/70/0.jpeg" alt="Lenovo Vibe K5"></a>
      <div class="caption">
        <h3><a href="#">Lenovo Vibe K5</a></h3>
        <p>Rs. 10,000</p>
        <p>Screen Size: 5.5 inch</p>
        <p><a href="#" class="btn btn-primary" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#"><img height="100" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/0x1920/70/0.jpeg" alt="Lenovo Vibe K5"></a>
      <div class="caption">
        <h3><a href="#">Lenovo Vibe K5</a></h3>
        <p>Rs. 10,000</p>
        <p>Screen Size: 5.5 inch</p>
        <p><a href="#" class="btn btn-primary" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#"><img height="100" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/0x1920/70/0.jpeg" alt="Lenovo Vibe K5"></a>
      <div class="caption">
        <h3><a href="#">Lenovo Vibe K5</a></h3>
        <p>Rs. 10,000</p>
        <p>Screen Size: 5.5 inch</p>
        <p><a href="#" class="btn btn-primary" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#"><img height="100" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/0x1920/70/0.jpeg" alt="Lenovo Vibe K5"></a>
      <div class="caption">
        <h3><a href="#">Lenovo Vibe K5</a></h3>
        <p>Rs. 10,000</p>
        <p>Screen Size: 5.5 inch</p>
        <p><a href="#" class="btn btn-primary" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#"><img height="100" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/0x1920/70/0.jpeg" alt="Lenovo Vibe K5"></a>
      <div class="caption">
        <h3><a href="#">Lenovo Vibe K5</a></h3>
        <p>Rs. 10,000</p>
        <p>Screen Size: 5.5 inch</p>
        <p><a href="#" class="btn btn-primary" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> </p>
      </div>
    </div>
  </div> -->

</div>

