<h1>Hi thrersfs sfs {{ reviews }}</h1>

<div class="asideCart">
	<h2>Cart <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></h2>
	<ul>
		<li>
			<div class="row">
				<div class="col-xs-9">
					<a href="#">
						{{productName}}
						Product Name 1
						<span>1 x Rs. 150</span>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#"><img height="50" width="50" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/1.jpeg?imwidth=140&impolicy=hq" alt=""></a>
				</div>
			</div>
		</li>

		<!-- <li>
			<div class="row">
				<div class="col-xs-9">
					<a href="#">
						Product Name 1
						<span>1 x Rs. 150</span>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#"><img height="50" width="50" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/1.jpeg?imwidth=140&impolicy=hq" alt=""></a>
				</div>
			</div>
		</li>
		
		<li>
			<div class="row">
				<div class="col-xs-9">
					<a href="#">
						Product Name 1
						<span>1 x Rs. 150</span>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#"><img height="50" width="50" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/1.jpeg?imwidth=140&impolicy=hq" alt=""></a>
				</div>
			</div>
		</li>
		
		<li>
			<div class="row">
				<div class="col-xs-9">
					<a href="#">
						Product Name 1
						<span>1 x Rs. 150</span>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#"><img height="50" width="50" src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBLENOVO-VIBE-A-TO2519725AF095B8/1.jpeg?imwidth=140&impolicy=hq" alt=""></a>
				</div>
			</div>
		</li> -->
	</ul>
	<div class="">
		<a href="#" class="btn btn-primary">View Cart</a>
		<a href="#" class="btn btn-primary">Check Out</a>
	</div>
</div>